*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* :focus {
    outline: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FDFDFF;

    font-family: "Lato", sans-serif;
    transition: background-color .5s;
} 

h1 {
    text-align: center;
}

main {
    margin-top: 40px;
}

/* ------- Round boxes ------ */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.round {
    border-radius: 50%;
	width: 200px;
	height: 200px; 
    background-color: #527CF9;

    display: flex;
    align-items: center;
    justify-content: center;
}

.round:hover {
 background-color: #1f51e9;
 cursor: pointer;
}

#left {
    margin: 20px;
}

#mitt {
    margin: 20px;
}

#right {
    margin: 20px;
}

.donut {
    display: none;
    width: 100%;
    height: auto;
	overflow: auto;
}

img {
    max-width: 80%;
    height: auto;
    margin: auto;
}

.fordonut {
	display: none;
	text-align: center;
}

.round, button {
    color: #FDFDFF;
}

.btncenter {
	display: flex;
    display: -webkit-flex;
    justify-content: center;
}

button {
	background-color: #369d14;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: auto;    
} 

button:hover {
    background-color: #3f8727;
    cursor: pointer;
}
