
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

h1 {
    text-align: center;
}

/* ------- Runda boxar ------ */

.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.rund {
    border-radius: 50%;
	width: 200px;
	height: 200px; 
    background-color: #4169E1;
}

#left {
    margin: 20px;
}

#mitt {
    margin: 20px;
}

#right {
    margin: 20px;
}

.kitten {
    display: none;
	height: 100%;
	overflow: auto;
    
}

img {
    max-width: 80%;
    height: auto;
    margin: auto;
}

.forcat {
	display: none;
	text-align: center;
}

.btncenter {
	display: flex;
    display: -webkit-flex;
    justify-content: center;
}

button {
	background-color: #69e141;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	margin: auto;    
} 

button:hover {
	background-color: #3f8727;
}
