*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* :focus {
    outline: 0;
}

html {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: #FDFDFF;

    font-family: Dekko, cursive;
    transition: background-color .5s;
} 

h1 {
    text-align: center;
    color: #3e1b01;
}

main {
    margin-top: 40px;
}

/* ------- Round boxes ------ */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.round {
    border-radius: 50%;
	width: 200px;
	height: 200px; 
    background-color: #527CF9;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.round:hover, .round:focus {
 background-color: #093edb;
 cursor: pointer;
}

@media screen and (max-width: 718px) {
    .round {
        width: 150px;
        height: 150px; 
    }
}

@media screen and (max-width: 569px) {
    .round {
        width: 100px;
        height: 100px; 
    }
}

#left {
    margin: 20px;
}

#mitt {
    margin: 20px;
}

#right {
    margin: 20px;
}

.donut {
    display: none;
    width: 100%;
    height: auto;
	overflow: auto;
}

img {
    max-width: 80%;
    height: auto;
    margin: auto;
}

.fordonut {
	display: none;
	text-align: center;
}

.round, button {
    color: #FDFDFF;
}

.btncenter {
    margin-top: 40px;
	display: flex;
    display: -webkit-flex;
    justify-content: center;
}

button {
    background-color: #51514e;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	margin: auto;    
} 

button:hover, button:focus {
    background-color: #181818;
    cursor: pointer;
}
